<div class="page_wrapper">
	<div class="container-fluid">
	  <div class="row">
	  	<div class="col-md-12 col-md-offset-1">
				<h1>Restaurant List</h1>
				  <% @restaurants.each do |restaurant| %>
				    <li>
				      <%= link_to restaurant.name, restaurant %>
				    </li>
				  <% end %>
			</div>
		</div>
	</div>
</div>